<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 easyRead">
        <h2>Meet & Sign is a digital solution for a digital problem!</h2>
        <h2>Digital Book authors need ways to keep fans interested and involved in their work. This is a system for launching a digital booksigning.</h2>
        <h1>What else can I get from this webpage?</h1>
        <h2>Asside from being shown the road map to digital booksigning success! There is a very handy form for sharing your experiances while streaming! You can also discuss other features you might like or why the sky is blue.</h2>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div> 
</template>