<template name="sidebar">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="/home" class="btn btn-success btn-lg">Home</a>
      </div>
      <div class="col-md-2">
        <a href="/streaming" class="btn btn-success btn-lg">Streaming</a>
      </div>
      <div class="col-md-2">
        <a href="/signing" class="btn btn-success btn-lg">Signing</a>
      </div>
      <div class="col-md-2">
        <a href="/sending" class="btn btn-success btn-lg">Sending</a>
      </div>
      <div class="col-md-2">
        <a href="/followUp" class="btn btn-success btn-lg">Follow Up</a>
      </div>
      <div class="col-md-2">
        <a href="/form" class="btn btn-success btn-lg">Form</a>
      </div>
    </div>
  </div>
</template>