<template name="sidebar">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <!-- Home -->
        <a href="/home" class="btn btn-success btn-lg">Home</a>
      </div>
      <div class="col-md-2">
        <!-- Streaming -->
        <a href="/streaming" class="btn btn-success btn-lg">Streaming</a>
      </div>
      <div class="col-md-2">
        <!-- Signing -->
        <a href="/signing" class="btn btn-success btn-lg">Signing</a>
      </div>
      <div class="col-md-2">
        <!-- Sending -->
        <a href="/sending" class="btn btn-success btn-lg">Sending</a>
      </div>
      <div class="col-md-2">
        <!-- Follow Up -->
        <a href="/followUp" class="btn btn-success btn-lg">Follow Up</a>
      </div>
      <div class="col-md-2">
        <!-- Form is a stub out to another online form-->
        <a href="http://fractalsoftworks.com/forum/" class="btn btn-success btn-lg">Form</a>
      </div>
    </div>
  </div>
</template>