
<template name="streaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 easyRead">
        <h1>Choosing a place to meet.</h1>
        
        <h2>There are many digital meeting sites with live camera sharing on the internet. <a href="https://www.webex.com/" target="_blank">CiscoWebex</a>, <a href="https://www.gotomeeting.com/" target="_blank">GoToMeeting</a>, and <a href="https://www.join.me/" target="_blank">Join Me</a> just to name a few. However, I am going to recommend that you aim high and think broad and have your book signing on <a href="https://www.twitch.tv/" target="_blank">Twitch.tv</a></h2>
        
        <h1>How do you stream on twitch?</h1>
        
        <h2>Follow this quick <a href="http://www.howtogeek.com/183900/how-to-stream-a-pc-game-online-with-twitch-tv/" target="_blank">guide by How-To Geek</a></h2>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div> 
</template>