<template name="followUp">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 easyRead">
        <h1>For You:</h1>
        <h2>Posting your video to Youtube. Sharing it on facebook. Adding content before and after the stream video.
        </h2>
        <h1>For Your Fans:</h1>
        <h2>Suggest that they manage their book collection with <a href="https://calibre-ebook.com/" target="_blank">calibre-ebook</a> or another management softwhere that lets them insert their signed cover as the cover for your book. They can make it a background image on their computer, post it to facebook, twitter etc...</h2>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div> 
</template>