<template name="signing">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 easyRead">
        <h1>Find an application that works on your hardware</h1>
        <h2>There are many digital signing apps for IOS and Android/Windows. The ability to write on pictures is native to the Galaxy phones and Freshpaint for touch screen windows devices. For IOS there is a free app call <a href="https://itunes.apple.com/us/app/you-doodle-draw-on-photos/id517871755?mt=8" target="_blank">You Doodle</a></h2>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div> 
</template>

